TELEGRAM_BOT_TOKEN=123456:ABC
INSTAGRAM_COOKIES_FROM_BROWSER=chrome
# INSTAGRAM_COOKIES_FILE=/Users/nikita/Documents/instagram-downloader/instagram_cookies.txt
TELEGRAM_AUTH_QUESTION=Как зовут автора бота?
TELEGRAM_AUTH_ANSWER=xotabeach
TELEGRAM_SEND_PREVIEW=true
TELEGRAM_SEND_DOCUMENT=true
